$krant-broadcast-message-bar-color: #f6efce !default;
$krant-broadcast-message-bar-border-color: #dedede !default;

.krant-broadcast-messages {
  &-table-text {
    white-space: nowrap;

    &-locale,
    &-translation {
      display: inline-block;
    }

    &-locale {
      font-weight: bold;
      min-width: 2em;
    }

    &-translation {
      vertical-align: top;
      white-space: normal;
    }
  }

  &-bar {
    background-color: $krant-broadcast-message-bar-color;
    border-left: solid 1px $krant-broadcast-message-bar-border-color;
    border-right: solid 1px $krant-broadcast-message-bar-border-color;
    padding: 10px $horizontal-page-margin;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
